<div class="main">
  <h1 class="title"> {{ title }} </h1>

  <app-loan 
   *ngFor="let loan of loans" 
   [loan]="loan" 
   (click)="handleSelectedLoan(loan)"
  >
  </app-loan>

  <footer class="footer">
      Total amount available for investmens:
      <span class="footer-text">
         £{{ amount }}
      </span>
  </footer>

  <app-modal 
   *ngIf="isModalVisible" 
   [loan]="loan"
   [amount]="amount" 
   (showModal)="handleOpenModal()"
   (showInvestMark)="handleChangeMarkdown(loan.id)"
   (changedAmount)='handleChangeTotalAmount($event)'
  >
  </app-modal>

</div>

