<div class="container">

  <h3 class="title">Invest in Loan</h3>
  <h5 class="title">{{ loan.title }}</h5>

  <button class="close-modal"
    (click)="handleCloseModal()"
  >
    X
  </button>

  <ul class="list">
    <li class="list-item">
      Amount available: £{{ loan.available }}
    </li>
    <li class="list-item">
      Loan ends in: 1 montth 10 days
    </li>

    <li class="list-item">
      Investment amount(£{{ enteredValue }})
    </li>
  </ul>

  <input class="modal-input" 
    type="text"
    placeholder="enter invests..."
    [(ngModel)]="enteredValue " 
    (input)="handleGetValue($event)"
  />

  <button class="invest-btn"
    (click)="handleInvested()"
  >
    Invest
  </button>

</div>
