.container {
   padding: 10px;
   display: flex;
   flex-direction: column;
   border: 1px solid #000;
   margin-bottom: 15px;
   background: #fff;
   max-width: 800px;
   justify-content: center;
}

.title {
   margin-bottom: 10px;
}
.label {
   float: right;
   color: yellowgreen;
   text-transform: uppercase;
}
.hide {
   display: none;
}

.show { 
   display: block;
}

.list{
   max-width: 400px;
}

.list-item{
   display: inline-block;
}

.list-item:not(:last-child) {
   margin-bottom: 10px;
}

