<div class="container" >

   <h3 class="title">{{ loan.title }}
      <span class="label"
      [ngClass] = "loan.isInvested ? 'show' : 'hide'"
      >
         Invested
      </span>
   </h3>
   
   <ul class="list">
      <li class="list-item">
         tranche: {{ loan.tranche }} , 
      </li>
      <li class="list-item"> 
         available: {{ loan.available }} , 
      </li>
      <li class="list-item">
         amount: {{ loan.amount }}
      </li>
   </ul>

   <button 
      class="invest-btn"
      (click)="handleSelectedLoan()"
   >
      Invest
   </button>
   
</div>