* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: rgb(241, 234, 234);
  color: rgb(45, 45, 49);
  font-family: sans-serif;
  padding: 0 2em;
}

.btn {
  text-transform: uppercase;
  padding: 10px 5px;
  background: yellow;
  border: 1px solid gray;
  outline: none;
  width: 100px;
  align-self: end;
  display: inline;
}